body {
    background-color: #90E0EF;
    color: #03045E;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------- */

.container-nav {
    display: flex;
    height: 5rem;
    background-color: #00B4D8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

.navbar a {
    transition: 0.3s ease-out;
}

.navbar a:hover {
    background-color: #CAF0F8;
}

.brand {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
}

.navbar a {
    color: #03045E;
    text-decoration: none;
    padding: 28px 24px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}



/* ---------------------------------------- */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
}

.footer {
    display: flex;
    height: 200px;
    background-color: #00B4D8;
    align-items: center;
    flex-direction: column;
}

.footer button {
    margin: 20px;
    height: 50px;
}


@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .nav-links {
        display: none;
    }

    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: #03055ee5;
        width: 100%;
        height: 100%;
        top: 40px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 50px;
        font-size: 40px;
    }

    li>a {
        color: white;
    }
}


@media(max-width: 600px) {
    .column {
        flex: 100%;
    }
}



/* ------ ABOUT ------ */
.about-images {
    display: flex;
    margin: 0 10%;
}

.about-images img {
    width: 33%;
}